<md-content class="first-content" style="padding: 24px;">
  <div layout="row" layout-align="center center" class="skill_caption">
      <h3>
        Build Your Skills, Become Better, Learn These Web technologies!
      </h3>
  </div>

  <div layout="row" layout-align="center center" class="browse_caption">
      <span>Browse Lessons By Technogy</span>
  </div>

  <div layout="row">
      <md-content  style="border:0px solid black;">
        <div align="center">
          <div ng-repeat="tech in technologies" class="techCards">
              <md-card>
                  <md-card-content>
                    <a ng-href="/technologies/{{ tech.technology_slug }}">
                      <img ng-src="{{ tech.technology_avatar }}" width="200" height="200" />
                    </a>
                  </md-card-content>
                <span class="techName"> {{ tech.name }}</span>
              </md-card>
          </div>
        </div>
      </md-content>
  </div>

</md-content>