<md-content class="first-content">
  <div layout="row" layout-align="center center" class="skill_caption">
      <h3> {{ courseDetails.name }} by </h3>
      <span class="courseInstructor"> {{ courseInstructor }} </span>
  </div>

  <div layout="row" layout-align="center center" class="browse_caption">
      <div ng-bind-html="courseDetails.course_video_url"></div>
  </div>

  <div layout="row">
      <md-content  style="border:0px solid black;">
        <div align="center">
          <div ng-repeat="tech in technologies" class="techCards">
              <md-card>
                  <md-card-content>
                    <a ng-href="/technologies/{{ tech.technology_slug }}">
                      <img ng-src="{{ tech.technology_avatar }}" width="200" height="200" />
                    </a>
                  </md-card-content>

                <span class="techName"> {{ tech.name }}</span>
              </md-card>

          </div>

        </div>
      </md-content>
  </div>

</md-content>