<md-content class="first-content" style="height: 600px;padding: 24px;">
  <div layout="row" layout-align="center center">
      <h3 style="font-size:2em;color:#666;">Are you a Learner?</h3>
  </div>
  <div layout="row" layout-align="center" class="logo-holder">

    <a href="/technologies/angularjs" class="front-mg"><img alt="Tech logo angular" src="/img/angularjs.svg" ></a>
    <a href="/technologies/react" class="front-mg"><img alt="React" src="/img/js.jpg" width="100" height="100" class="front-img"></a>
    <a href="/technologies/js" class="front-mg"><img alt="Js" src="/img/js.svg" ></a>
    <a href="/technologies/d3" class="front-mg"><img alt="Tech logo d3" src="/img/mongo.png" width="100" height="100" ></a>
    <a href="/technologies/es6" class="front-mg"><img alt="Es6" src="/img/nodejs-logo.png" width="100" height="100" class="front-img"></a>
    <a href="/technologies/es6" class="front-mg"><img alt="Es6" src="/img/rails.png" width="100" height="100" class="front-img"></a>

  </div>
  <div layout="column" layout-align="center center">
    <div align="center">
      <p style="font-size:3em;font-weight:bold;color:#666;">Learn AngularJS, Rails, MongoDB, Nodejs and many other essential modern web technologies.</p>
    </div>
  </div>

</md-content>